body{
    width: 500px;
    margin: auto;
}
#galerie{
    margin-top: 20px;
    background-color: rgb(202, 198, 198);
    padding: 3px;
    
    

}
li {
    display:inline-flex;
    


}
dt{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}